<div class="content-area footer-cnt">
            <div class="cr-right">
                <img class="footer-logo" src="images/18light-logo_footer.svg">
                <h6>Copyright © 2025 18LIGHT GAME LTD. </h6>
            </div>
            <ul class="social">
                <li><a class="social-link facebook" href="https://www.facebook.com/18LightGS" target="_blank"></a></li>
                <li><a class="social-link x-twitter" href="https://x.com/18lightgame" target="_blank"></a></li>
                <li><a class="social-link youtube" href="https://www.youtube.com/user/18LightGS" target="_blank"></a></li>
                <li><a class="social-link discord" href="https://discord.gg/GSAHxDwDeJ" target="_blank"></a></li>
            </ul>
        </div>