<div class="tool-cnt">
            <img class="tool-logo" src="images/18light-logo.png" alt="光穹遊戲 Logo">
            <ul class="navi-wrapper">
                <li>
                    <a class="navi-link">遊戲</a>
                    <ul class="attached-menu">
                        <li><a class="attached-menu-link" href="#">奈米使徒計畫</a></li>
                        <li><a class="attached-menu-link" href="#">棄海</a></li>
                        <li><a class="attached-menu-link" href="#">螢幕判官</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="lang-wrapper">
                <!-- <li><a class="lang-option active" href="#">繁中</a></li> -->
                <li><a class="lang-option" href="en.html">En</a></li>
            </ul>
        </div>